ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    width: 100%;
  }
  
  li {
    padding: 8px; 
    border-bottom: 1px solid #ddd;
  }
  
  li:hover {
    background-color: #f2f2f2;
  }